ul {
  width: 500px;
  background: #fee;
  padding: 20px;
}
li {
  list-style:none;
  font-family: "楷体";
  font-size: 16px;
  margin: 20px 10px;
}
.a input {
  display: block;
  float: left;
  position: relative;
  z-index: 40;
  width: 30px;
  height: 30px;
}
.a {
  width: 750px;
  height: 540px;
  border: 2px solid;
  position: relative;
}
.a img {
  display: inline-block;
  width: 750px;
  height: 540px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity:0;
  apointer-events:none;
  transition: opacity .5s linear;
}
.a input:checked +img{
  opacity:1;
}

div {
  position: relative;
  afont-family: ;
}
.b input[type='radio'],.demo1 input[type="checkbox"]{
  display:none; 
}
label:nth-of-type(-n+4) {
  padding-left: 20px;
}
.b label:before{
  content: "";
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #3797fc;
}
.b input[type='radio'] + label:before{
  border-radius: 8px;
}
.b input[type='checkbox'] + label:before{
  border-radius: 3px;
}
.b input[type='radio']:checked+label:before{
  content: "\2022";
  color: #452;
  font-size: 30px;
  text-align: center;
  line-height: 12px;
}
.b input[type='checkbox']:checked+label:before{
  content: "\2713";
  font-size: 15px;
  color: #444;
  text-align: center;
  line-height: 17px;
}